/* Google fonts */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* General rules - font family, size and colour*/

* {
    margin: 0; 
    padding: 0; 
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Roboto Slab', serif; */
    color: navy;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    color: darkslategrey;
}

.uppercase {
    text-transform: uppercase;
}

/* navbar */

.navbar {
    background-color: lightgrey;
    border: 0.2rem solid navy;
}

 .navbar-light .navbar-brand {
    font-size: 1.8rem;
    color: navy;
    /* font-family: 'Roboto Slab', serif;  */
    font-weight: 600;
}

/* navbar hover */

.navbar-light .navbar-brand:hover {
    text-decoration: dashed underline navy;
    color: navy; 
}

/* images */

.pictures {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

.periodic-table {
    /* margin-right: 1rem; */
    margin-bottom: 1rem;
}

.periodic-table img {
    width: 100%;
    border: 0.2px solid navy;
}

.question-example img {
    width: 100%;
    border: 0.2px solid navy;
}

#introduction {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
    /* text-align: center; */
}

#introductory-heading h2{
    text-align: center;
}

#introduction label {
    margin-right: 0.5rem;
    /* width: 60px;
    height: 24px; */
    /* text-align: left; */
}

/* submit button */

#start_quiz {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    background-color: lightgrey;
    border: 1px solid navy;
    padding: 0.25rem;
}

/* quiz */

#quiz {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

/* timer */
#timer {
    text-align: center;
    margin-top: 0.5rem;
}

#timer1 {
    display: inline-block;
    width: 150px;
    border: 1px solid navy;
    padding: 0.5rem 1rem;
}

/* question */

#question_text {
    text-align: center;
}   

/* add some margins/padding to inputs and labels */

#user_picks {
    text-align: center;
}

#quiz label {
    width: 150px;
    height: 30px;
    text-align: center;
    border: 1px solid navy;
    padding: 0 0.5rem;
    background: lightgrey;
}

#quiz label:hover {
    border: 1px solid navy;
    background: #fcf9bf;
}

/* submit ans/next question buttons */

#submit_answer, #next_question button {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    align-items: center;
    background-color: lightgray;
    border: 1px solid navy;
    padding: 0.25rem;
    width: 140px;
}

/* current_question */

#current_question {
    width: 100%;
    text-align: center;
}

#current_question>div {
    color: navy;
    display:inline-block;
    border: solid navy 1px;
    margin: 0.2rem; 
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.current_question_color {
    background:#fcf9bf;
}

.completed_question_color {
    background:#aad9b8;
}

/* question text */

#question_text {
    height: 72px;
}

/* overall feedback */

#user_feedback {
    height: 48px;
}

/* progress bar */

.progress {
    height:40px;
    border: 1px solid navy;
}

.bg-correct {
    background:#aad9b8;
}

.bg-incorrect {
    background:#f7aac0;
}

/* submit/next question buttons*/

.hide {
    display:none;
}

.show {
    display:inline-block;
}

/* restart, reselect and play again buttons */

#reselect_restart {
    text-align: center;  
    margin-top: 1rem;
}

#reselect, #restart {
    margin: 0.5rem 2rem;
    height: 100%;
}

#b_reselect, #b_restart {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: lightgrey;
    border: 1px solid navy;
    padding: 0.25rem;
    width: 100px;
}

#play_again {
    text-align: center;
}

#b_play_again {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: lightgrey;
    border: 1px solid navy;
    padding: 0.25rem;
    /* width: 140px; */
}

/* Screen more than 768px */
@media screen and (min-width: 768px) {

    .pictures{
        width: 80%;
        margin: 1rem 10% 1rem 10%;
    }

    #introduction, #quiz {
        width: 80%;
        margin: 1rem 10% 1rem 10%;
    }

    .periodic-table {
    margin-right: 1rem;
    margin-bottom: 0;
    }

    .question-example {
    margin-left: 1rem;
    margin-bottom: 0;
    }

    #reselect, #restart {
        margin: 0 2rem;
        margin-top: 0rem;
        margin-right: 1rem;
    }

    #question_text {
    height: 48px;
    }

    #user_feedback {
    height: 24px;
    }

}

/* Screen more than 992px */
@media screen and (min-width: 992px) {

    .pictures {
        width: 60%;
        margin: 1rem 20% 1rem 20%;
    }

    #introduction, #quiz {
        width: 60%;
        margin: 1rem 20% 1rem 20%;
    }

    .periodic-table {
    margin-right: 1rem;
    margin-bottom: 0;
    }

    .question-example {
    margin-left: 1rem;
    margin-bottom: 0;
    }

}

/* Screen more than 1200px */
@media screen and (min-width: 1200px) {

    .pictures {
        width: 50%;
        margin: 1rem 25% 1rem 25%;
    }

    #introduction, #quiz {
        width: 50%;
        margin: 1rem 25% 1rem 25%;
    }

    .periodic-table {
    margin-right: 1rem;
    margin-bottom: 0;
    }

    .question-example {
    margin-left: 1rem;
    margin-bottom: 0;
    }

}