/* Google fonts */

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* General rules - font family, size and colour*/

* {
    margin: 0; 
    padding: 0; 
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Roboto Slab', serif; */
    color: navy;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

body {
    /* font-family: 'Montserrat', sans-serif; */
    color: darkslategrey;
}

.uppercase {
    text-transform: uppercase;
}

/* navbar */

.navbar {
    background-color: silver;
    border: 0.2rem solid navy;
}

 .navbar-light .navbar-brand {
    font-size: 1.8rem;
    color: navy;
    /* font-family: 'Roboto Slab', serif;  */
    font-weight: 600;
}

/* navbar hover */

.navbar-light .navbar-brand:hover {
    text-decoration: dashed underline navy;
    color: navy; 
}

/* period table of elements image */
.periodic-table {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

.periodic-table img {
    width: 100%;
    border: 0.2px solid navy;
}

.question-example {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

.question-example img {
    width: 100%;
    border: 0.2px solid navy;
}

#introduction {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

/* user options */
.user-options {
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

/* add some margins/padding to inputs and labels */

/* add some margins/padding to submit button */
#start_quiz {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    /* align-items: center; */
    text-align: center;
}

/* quiz */
#quiz {
    /* display: none; */
    width: 90%;
    margin: 1rem 5% 1rem 5%;
}

/* submit ans/next question buttons */
#submit_answer {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    align-items: center;
}

#next_question {
    color: navy;
    font-weight: 600;
    font-size: 1.2rem;
    align-items: center;
}

/* current_question */
/* #current_question span {
    color: red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
} */

#current_question {
    width: 100%;
    text-align: center;
}

#current_question>div {
    color: navy;
    display:inline-block;
    border: solid navy 1px;
    /* padding: 0.5rem; */
    margin: 0.2rem; 
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.current_question_color {
    background:#fcf9bf;
}

.completed_question_color {
    background:#aad9b8;
}
